fastapi~=0.75.1
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
matplotlib>=3.5.1
numpy>=1.22.3
opencv-python>=4.5.5.64
tensorflow>=2.8.0
# tensorflow-macos
scikit-learn>=1.0.2
keras>=2.8.0
Pillow>=9.1.0
Pyrebase4==4.5.0